$modalPd-tb = 30rpx
$modalPd-lr = 30rpx
$modalBarHei = 60vh
$modalBarWid = 60vw

//modal
$modal-title-size = 60rpx
$modal-desc-size = 28rpx

//modal圆角
$modal-radius = 16rpx

//遮盖层
.actionMask
  position fixed
  top: 0;
  left: 0
  opacity 0
  width 100vw
  height 100vh
  background-color fade-out(#000,  0.3)
  z-index -1
  display none
  &.show
    animation: fadeIn ease .3s forwards;
    z-index: 1
    display block

.as-common
  background-color #FAFAFA
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  border-radius: $modal-radius
  position fixed
  z-index: 2
  display: block
//上下弹 公用
.as-common-tb
  width calc(100% - 60rpx)    //60rpx = $modalPd-lr * 2
  max-height calc(100% - 60rpx)     //60rpx = $modalPd-tb * 2
  padding $modalPd-tb $modalPd-lr
  left: 0
  &.bar
    max-height: $modalBarHei  
    height 50vh
  &.full
    height: calc(100% - 60rpx)
//左右弹 公用
.as-common-lr
  max-width calc(100% - 60rpx)    //60rpx = $modalPd-lr * 2
  height calc(100% - 60rpx)     //60rpx = $modalPd-tb * 2
  padding $modalPd-tb $modalPd-lr
  top: 0
  &.bar
    max-width $modalBarWid
    width 50vw
  &.full
    width: calc(100% - 60rpx)

.as-common-pop
  border-radius: $modal-radius
  width 50%
  height 50%
  padding 0
  left: 0; top: 0; right: 0; bottom: 0; 
  margin auto
  box-sizing border-box
  padding 10px
  padding-top 16px
  &.bar
    max-width $modalBarWid
    width 50vw
  &.full
    width: calc(100% - 60rpx)

.as-common-toast
  background-color rgba(85, 85, 85, 0.8)
  color #fff
  min-width 35%
  max-width 55%
  max-height 80px
  min-height 40px
  white-space: nowrap;
  overflow: hidden;
  font-size 14px
  // text-overflow: ellipsis;
  // left: 0; top: 0; right: 0; bottom: 0; 
  left 0
  right 0
  bottom 100px
  margin auto
  border-radius 6px
  padding 5px
  &.bar
    max-width $modalBarWid
  &.full
    width: calc(100% - 60rpx)
    


.actionSide
  position: relative
  display: none

.actionSide-pop
  @extends .as-common
  @extends .as-common-pop
  &.moveit
    animation: scalePop ease .3s forwards;
  &.menus-bar
    max-width $modalBarWid
    z-index: 2

.actionSide-pop-top
  @extends .as-common
  @extends .as-common-pop
  &.moveit
    animation: slideDown ease .3s forwards;
  &.menus-bar
    max-width $modalBarWid
    z-index: 2

.actionSide-pop-bottom
  @extends .as-common
  @extends .as-common-pop
  &.moveit
    animation: slideUp ease .3s forwards;
  &.menus-bar
    max-width $modalBarWid
    z-index: 2

.actionSide-toast
  @extends .as-common
  @extends .as-common-toast
  display flex
  justify-content: center
  align-items: center
  &.toast-mid
    top: 0
  &.moveit
    animation: scalePop ease .2s forwards;

.actionSide-right
  @extends .as-common
  @extends .as-common-lr
  right: 0
  border-radius 0
  &.moveit
    animation: slideRight ease .3s forwards;
  &.menus-bar
    max-width $modalBarWid
    z-index: 2

.actionSide-left
  @extends .as-common
  @extends .as-common-lr
  left: 0
  border-radius 0
  &.moveit
    animation: slideLeft ease .3s forwards;

.actionSide-bot
  @extends .as-common
  @extends .as-common-tb
  bottom 0
  &.moveit
    animation: slideUp ease .3s forwards;

.actionSide-top
  @extends .as-common
  @extends .as-common-tb
  top 0
  &.moveit
    animation: slideDown ease .3s forwards;

.actionSide-message
  @extends .as-common
  @extends .as-common-tb
  top 0
  max-height 20vh
  &.moveit
    animation: slideDown ease .3s forwards;

.icono-crossCircle
  &:after
    content: '⨂'
    position absolute
    top 5rpx
    right: 0
    font-size 28px
    width 32px
    height 32px
    color #ccc



//自定义toast
.popups-wrap
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color fade-out(#000, .3)
  ss-display-flex(column, center, center)

//自定义toast 背景 透明
.popups-wrap-trans
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  ss-display-flex(column, center, center)
  // z-index: -1
  // &.active
  //   z-index: 9999

.popups-wrap-input
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color transparent

.toast-body
  background: #fff
  border-radius: 20rpx
  padding: 20rpx
  text-align: center

.pop-body
  background: #fff
  border-radius: 10rpx
  font-size: 28rpx
  .item-header
    background: #ececec
    height: 100rpx
    color: #666
    text-align: center
  .item-footer
    background: #c10000
    color: #fff
    font-weight: bold

.custom-closeIt
  position: absolute
  bottom: 90rpx
  width: 98rpx;
  height: @width
  line-height: @width
  left: calc(50% - 50rpx); //49 + 3
  font-size: 50rpx;
  color: #E5E5E5
  border: 5rpx solid #E5E5E5 
  border-radius: 100%
  text-align: center
  &:before
    content: '\e606'