.item-btn
  @extends .btn
  margin 0 auto
  margin-top 60px
  width 200px
  &:after
    border: 3px dotted currentcolor;
    border-radius: 50%;
    content: ''
    display none
    width 20px
    height 20px
    position absolute
    top 50%
    left 15%
    margin-top -13px
  &.loading
    &:after
      display block
      animation: 1s loader-01 linear infinite;

.item-dropdown
  @extends .btn
  margin 0 auto
  margin-top 60px
  width 160px
  height 40px
  position relative
  &:before
    content: '▶︎'  // 
    position absolute
    top 12px
    right 8px
    font-size 12px
    color #efefef
  .hbody
    border 1px solid #eee
    border-radius 5px
    position absolute
    display none
    top 44px
    left 0px
    background-color #fff
    color #000
    width 100%
    .hb-item
      padding 10px
      &.selected
        background-color #eee
        color red
  &.active
    .hbody
      display block;
    &:before
      content: '▼'  // 

.item-reddot
  margin 0 auto
  margin-top 60px
  // width 160px
  // height 40px
  width 64px
  height 64px
  font-size 48px
  // border 1px solid red
  background-color #cecece
  color blue
  border-radius 10px
  position relative
  display flex
  position relative
  justify-content: center
  align-items: center
  .hdot-item
    position absolute
    display flex
    justify-content: center
    &:first-child
      right -7px
      top -7px
      width 20px
      height 18px
      line-height 18px
      background-color red
      border-radius 50%
      font-size 12px
      color #fff

.item-titles
  itemTitle()
  .htitles
    .t-item
      font-size 20px
      // border 1px solid red
      padding 5px

.item-title
  itemTitle()
  .htitle
    font-size 30px
    padding 10px

.item-img
  itemTitle()

.item-imgs
  itemTitle()
  .ul
    display flex
    .himg
      width 64px
      height 64px


.item-ti
  itemTitle()
  flex-direction column
  overflow hidden
  justify-content: flex-start
  align-items: flex-start
  .corner-left-bottom
    background-color transparent
    position absolute
    left 0
    bottom 0
    color #fff
    height 40px
    line-height 40px
    text-indent 10px
  .corner-left-btn
    background-color transparent
    position absolute
    left 0
    bottom 10px
    color #fff
    display flex
    justify-content: space-around
    height 40px
    line-height 40px
    width 100%
    .hb-item
      border 1px solid red
      display: flex;
      justify-content: center;
      width 50px
  .corner-left-top
    position absolute
    left 0px
    top 0px
    .markdown-body 
      .h3
        margin-top 0
        color #fff
      .p
        color #999
  .caption
    box-sizing border-box
    width 100%
    height 100px
    font-size 22px
    padding 10px
  image
    width 100%
    height 100%

.item-shop
  @extends .item-ti
  width 260px
  .hbody
    margin-left 10px
    margin-top 5px
    height 60px
    border-bottom: 1px solid #efefef;
    padding-bottom: 6px;
    width 92%
  .hfooter
    @extend .hbody
    border none
    height 80px
    margin-top 5px
    margin-bottom 5px
  .caption
    height auto
    padding 0
    &.descript
      margin-top 2px
      font-size 14px
      color #B8860B
    &.more
      font-size 12px
      background-color: #d8eafd;
      color: #73b1f9
      border-radius 15px
      text-indent 10px
      padding 5px
      width auto
    &.property
      margin-top 2px
      .htitles
        display flex
        align-items: center
        .t-item
          font-size 14px
          margin-right 5px
          &:first-child
            font-size 24px
          &:nth-child(2)
            font-size 18px
          &:last-child
            font-size 12px
            color #ccc
            


.item-blog
  @extends .item-ti
  flex-direction row
  padding: 10px
  width 96%
  height auto
  .caption
    box-sizing border-box
    margin-left 10px
    margin-top -2px
    padding: 0
    height auto
    &.descript
      margin-top 2px
      font-size 14px
      color #999
  .himg
    width 80px
    height 80px

.item-tis
  @extends .item-ti
  width 96%
  height auto
  padding-bottom 20px
  .caption
    height 50px
  .ul
    display flex
    justify-content: space-around
    width 100%
    .himg
      width 90px
      height 90px
      image
        width 100%
        height 100%

.item-ist
  @extends .item-tis
  padding-bottom 0
  .ul
    margin-top 20px