vendors = official
@import '../../css/common.styl'

.boxer
  position relative

.sticky-button
  position fixed
  bottom 0
  left 0
  height 60px
  width 100%
  display flex
  justify-content: center
  align-items: center
  background-color #000
  color #fff
  font-size 20px

@import './item.styl'
@import './popup.styl'